.login-container {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:
             linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
             url("background.jpg");

                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
}

.login-box {
    width: 350px;
    padding: 30px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.445);
}

.login-box h2 {
    text-align: center;
    margin-bottom: 25px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.loginp-btn {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: green;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.loginp-btn:hover {
    background-color: darkgreen;
}

.error-message {
    margin-top: 10px;
    color: red;
    text-align: center;
}
