body {
    margin: 0;
    font-family: Arial;
    background: url(bg.jpg) no-repeat center;
    background-size: cover;
    
}



.box {
    width: 350px;
    background: rgba(255,255,255,0.95);
    margin: 80px auto;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
}

.box h2 {
    margin-bottom: 20px;
}

.box input, .box textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

.box button {
    width: 95%;
    padding: 10px;
    background: #1abc9c;
    border: none;
    color: white;
    font-size: 16px;
}
